/* Include the font */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body, html {
    margin: 0; 
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif; 
    color:#e6a74f;
    background: linear-gradient(#101F5F, #050B29); 
}

.container {
    position: relative;
    max-width: auto;
    margin: 0 auto; 
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.star {
    position: absolute;
    top: 80px; 
    left: 31.4%; 
    width: 50px; 
    height: 50px; 
    background-image: url('images/Star1.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    z-index:4;
    animation: rotate 5s linear infinite; 
  transform-origin: center center;
    }
  
  
    @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

#floating-dots-container {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%; 
    z-index:1;
    pointer-events: none;
  }
  
  .dot {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6; 
  }
  
  @keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(-30px); 
      opacity: 0.5;
    }
  }

  .play-pause-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    outline: none;
    position: relative;
    width: 70px; 
    height: 70px;
  }
  
  .play-pause-btn img {
    width: 100%;
    height: 100%;
  }
  
  
  .hide {
    display: none;
  }
  
  
header h1 {
    margin: 30px;
    font-family: 'Satisfy', cursive; 
    color: #31922C; 
    font-size: 4em; 
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 40px; 
}
header h1::after {
    content: 'Savior is Born';
    display: block; 
  }

input[type="text"], input[type="submit"] {
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    margin: 20px auto; 
    border-radius: 4px; 
    font-size: 1em;
    display: block; 
}

input[type="text"] {
    border: 2px solid #66C8CB; 
    opacity: 0.5;
    background-color: transparent; 
    color: white; 
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7); 
    text-align: center; 
    font-size: 0.9em; 
}

input[type="submit"] {
    border: 2px solid transparent;
    width: 80%; 
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 32px;
    background-color: #F2BC62; 
    color: #050B29; 
    cursor: pointer; 
    text-transform: uppercase; 
}

input[type="submit"]:hover {
    background-color: #e6a74f; 
}

#manger-container {
    position: relative; 
    max-width: 250px;
    margin: 0 auto;
    top: 40px;
  }

  #manger-container img {
    width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
  
  #manger-container .manger-baby {
    position: absolute;
    width: 90px;
    bottom:30px;
    left: 85px;
    transform: translateX(-50%); 
    animation: swing 2s infinite alternate ease-in-out; 
  }
  
  #manger-container .halo {
    position: absolute;
    top: 65%;
    left: 50%;
    animation: glow 2s infinite alternate; /
  }
  
  
  @keyframes swing {
    0%, 100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
  }
  
  @keyframes glow {
    0%, 100% { box-shadow: 0 0 20px 6px rgba(245, 238, 167, 0.5); }
    50% { box-shadow: 0 0 28px 14px #FFEBC6; }
  }
  
  .heading-container {
    text-align: center; 
}

  #animated-heading {
    font-family: 'Kanit', cursive;
    color: #31922C; 
    font-size: 2em;
    margin: 10px 30px 40px; 
    display: inline-block; 
    white-space: nowrap; 
    animation: pop 0.4s ease-in-out forwards; 
}

@keyframes pop {
    0%, 100% {
        transform: scale(1) rotate(0);
    }
    50% {
        transform: scale(1.5) rotate(-10deg);
    }
}

#verseDisplay {
  text-align: center; 
  padding: 0 10%; 
  font-family: 'Charm', cursive; 
  z-index: 3;
  
}

.personalized-greeting {
  text-align: center; 
  font-size: 2em; 
  margin-bottom: 1.3em; 
  display: block; 
}

.verse {
  text-align: center; 
  font-size: 2em; 
  display: block; 
  margin-top: 0.5em;
}

.church-container {
  position: absolute;
  bottom: 50px;
  left: 0; 
  z-index: 5; 
}

.church-image {
  width: 120px; 
  height: auto;
}

.tree-container {
  position: absolute;
  bottom: 50px;
  right: 0; 
  z-index: 5; 
}

.tree-image {
  width: 150px; 
  height: auto;
  }

  
footer {
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    color: #050B29;
    background-color: #F2BC62;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    height:50px;
    z-index:10;
    
}


@media only screen and (max-width: 600px) {
    header h1 {
      font-size: 2.5em;
    }
  
    input[type="text"], input[type="submit"] {
      width: 75%;
    }
  }
  